.box-header.with-border {
    border-bottom: none;
}

.content-wrapper,
.right-side {
    min-height: 100%;
    background-color: green;
    z-index: 800;
}

.box {
    position: relative;
    border-radius: 3px;
    background: none;
    border-top: none;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: none;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    color: #fff;
    font-weight: 700;
}

h2 {
    color: #fff;
    text-align: center;
}

body {
    background: green;
}